{% extends "index.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
      
    <head>
    
        <title>Home</title>    
        
    
    </head>
    
    <body>
        <h1>Welcome to AICare</h1>
        <h3>Artificial intelligence (AI) rapidly dominates the health service system. It removes the manual health system into automatic, 
            in which humans conduct the routine works/tasks in medical practice to the management of patients and medical resources. 
            The technical challenges of digitizing health services pose new problems when developers create artificial intelligence systems to carry out tasks.</h3><br>
        
        <h3>AI offers the potential for a huge improvement in patient care and a reduction in health care costs.
             The increasing population is expected to be able to encourage the demand for health services. 
             The health service sector needs innovative solutions to find out how to be more effective and efficient without excessive expenditure.
             This is where technology comes in for the solutions. Rapid developments in technology, especially in the fields of AI and robotics, 
             can assist the complement of the healthcare industry.</h3><br>

        <h3>AI and robotics in health care using artificial intelligence develops quickly, especially for early detection and diagnostic application.
            Ai is becoming more powerful at the same time. It enables them to do what humans perform — often more efficiently, easily, and at reduced cost.</h3><br>

        <h3>Some risks and challenges appear, including the risk of injury to patients from system errors, the risk of patient privacy in obtaining data and drawing 
            conclusions from artificial intelligence, and more. The important thing for public health is that AI preventative care can assist people to stay healthy. 
            For example, applications, the aim is to give better control over their health and welfare to consumers.</h3><br>

        <h3></h3><br>

        <h3></h3><br>
        
    </body>
        
</html>

{% endblock %}